
@define-color base      #0a1428;
@define-color surface0  rgba(10, 20, 40, 0.9);
@define-color surface1  #1e1e2e;
@define-color text      #ffffff;
@define-color accent    #89b4fa;
@define-color border    #89b4fa;
@define-color selected  rgba(137, 180, 250, 0.15);
@define-color softblack #111827; /* New lighter black */

* {
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 18px;
}

/* Window */
window {
  margin: 2px;
  padding: 2px;
  border: none;
  border-radius: 45px;
  background-color: @softblack;
}

/* Outer & Inner Boxes */
#outer-box, #inner-box {
  margin: 8px;
  padding: 6px;
  border-radius: 100px;
  background-color: @softblack;
}

/* Scroll */
#scroll {
  padding: 0px;
  margin: 0px;
  border: none;
  background-color: transparent;
}

/* Input Box */
#input {
  margin: 3px;
  padding: 10px;
  border-radius: 30px;
  border: none;
  color: @text;
  background-color: @surface1;
}

#input image {
  border: none;
  color: @accent;
}

#input * {
  outline: none;
}

/* Entries */
#entry {
  padding: 4px 10px;
  margin: 4px 8px;
  border-radius: 12px;
  background-color: transparent;
}

#entry:selected {
  background-color: @selected;
  border: 1px solid @accent;
}

#entry:selected #text {
  color: @accent;
}

#text {
  color: @text;
  border: none;
}

/* Arrows */
#entry arrow {
  border: none;
  color: @accent;
}

